<h1>Welcome to OdinBook, <%= @user.name %>.</h1>

<p>
  You successfully signed up to OdinBook.
</p>

<p>
  To start seeing posts, go to the <strong>Users</strong> tab and send some follow requests.<br>
  After one of them accepts, you'll start to see their posts in the <strong>Recent Posts</strong> tab.<br>
  Posts you create also appear in said tab.
</p>

<p>
  Have fun commenting and liking other user's posts! :)
</p>
