<section id="posts">
  <% unless @posts.empty? %>
    <%= render @posts %>
  <% else %>
    No posts from you or users you follow were found.
  <% end %>

  <%= page_controls @posts, @page_number %>
</section>
